{#
/**
 * @file
 * Template for the YT to Article form.
 *
 * Available variables:
 * - form: The form array.
 * - attributes: HTML attributes for the form element.
 */
#}
<div class="yt-to-article-form-wrapper">
  <div class="yt-to-article-form-header">
    <h2>{{ 'Convert YouTube Video to Article'|t }}</h2>
    <p>{{ 'Enter a YouTube URL below to generate a comprehensive article from the video content.'|t }}</p>
  </div>
  
  {{ form }}
</div>