.klaro {
    h1.title {
        color: #FFFFFF;
        background: none;
        -webkit-background-clip: text;
        -webkit-text-fill-color: white;
        background-clip: text;
        text-fill-color: white;
    }
}
