.main-content {
  background-color: #fff; // białe tło
  color: #000; // czarny tekst
  padding: 20px;
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  p {
    line-height: 1.6;
  }
  a {
    color: #666; // szary tekst dla linków
    &:hover {
      color: #333; // ciemniejszy szary tekst po najechaniu
    }
  }
} 