{#
/**
 * @file
 * Theme override for the secondary menu region.
 * 
 * This template provides Tailwind styling for the secondary menu region,
 * giving it the primary brand colors and proper spacing.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
    'bg-drupal-primary',
    'text-white',
    'text-sm',
    'border-b',
    'border-drupal-secondary'
  ]
%}
{% if content %}
  <section{{ attributes.addClass(classes) }}>
    <div class="drupal-container py-2">
      <div class="flex justify-between items-center">
        {{ content }}
      </div>
    </div>
  </section>
{% endif %}